<% content_for :head do %>
<title>UI5- buttons</title>
<% end %>

<h1>Buttons, Button Groups</h1>
<hr class="separator">

<div class="row">
    <div class="span-3">
        <div id="btn1">
            <button class="btn">
                Button
            </button>
        </div>
        <pre class="brush: html; gutter: false;" data-from="#btn1"></pre>
    </div>
    <div class="span-3">
        <div id="btn2">
            <a href="#" class="btn blue">
                Button
            </a>
        </div>
        <pre class="brush: html; gutter: false;" data-from="#btn2"></pre>
    </div>
    <div class="span-6">
        <div id="btn3">
            <input
                type="button"
                value="Button"
                class="btn green">
        </div>
        <pre class="brush: html; gutter: false;" data-from="#btn3"></pre>
    </div>
</div>

<hr class="separator">

<div class="row">
    <div class="span-4">
        <h2>Button Colors</h2>
        <p>For customize colors, add class <code>blue</code>, <code>green</code>, <code>orange</code>,
        <code>grey</code> or <code>black</code> beside the <code>btn</code> class.</p>
        <button class="btn">Default</button>
        <button class="btn blue">Blue</button>
        <button class="btn green">Green</button>
        <br>
        <br>
        <button class="btn orange">Orange</button>
        <button class="btn red">Red</button>
        <button class="btn grey">Grey</button>
        <button class="btn black">Black</button>
    </div>
    <div class="span-4">
        <h2>Button states</h2>
        <p>For disabled buttons, add the <code>disabled</code> class to the link and the <code>disabled</code>
            attribute for <code>button</code> and <code>input</code> tags.</p>
        <button class="btn blue" disabled="disabled">Disabled</button>

        <p>For pressed buttons, add the <code>pressed</code> class beside <code>btn</code> class.</p>
        <button class="btn blue pressed">Pressed</button>
    </div>
    <div class="span-4">
        <h2>Button sizes</h2>
        <p>For customize sizes, add class <code>mini</code>, <code>medium</code>, <code>large</code> or <code>x-large</code>
            beside class <code>btn</code>.</p>

        <p><button class="btn mini">Mini</button></p>
        <p><button class="btn medium">Medium</button></p>
        <p><button class="btn large">Large</button></p>
        <p><button class="btn x-large">X-Large</button></p>
    </div>
</div>

<hr class="separator">

<div class="row">
    <div class="span-4">
        <h2>Button Groups</h2>
        <div id="btngroup1">
            <div class="btn-group blue">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
        </div>
        <pre class="brush: html; gutter: false;" data-from="#btngroup1"></pre>
    </div>
    <div class="span-3">
        <h2>Button groups states</h2>
        <p>Similar to button, add <code>disabled</code> or <code>pressed</code> class beside the <code>btn-group</code> class.</p>
        <p>
            <div class="btn-group blue disabled">
                <button class="btn">Left</button>
                <button class="btn">Middle</button>
                <button class="btn">Right</button>
            </div>
        </p>
        <p>
            <div class="btn-group blue pressed">
                <button class="btn">Left</button>
                <button class="btn">Middle</button>
                <button class="btn">Right</button>
            </div>
        </p>
    </div>
    <div class="span-5">
        <h2>Button Group Sizes</h2>
        <p>Similar to buttons, button groups provides <code>mini</code>, <code>medium</code>, <code>large</code> and <code>x-large</code> sizes.</p>
        <p>
            <div class="btn-group mini">
                <button class="btn">Mini</button>
                <button class="btn">Mini</button>
                <button class="btn">Mini</button>
            </div>
        </p>
        <p>
            <div class="btn-group medium">
                <button class="btn">Medium</button>
                <button class="btn">Medium</button>
            </div>
        </p>
        <p>
            <div class="btn-group large">
                <button class="btn">Large</button>
                <button class="btn">Large</button>
            </div>
        </p>
        <p>
            <div class="btn-group x-large">
                <button class="btn">X-Large</button>
                <button class="btn">X-Large</button>
            </div>
        </p>
    </div>
</div>
