<% content_for :head do %>
<title>UI5- buttons</title>
<% end %>

<h1>Buttons</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div class="span-3">
      <div id="btn1">
        <button class="btn medium blue">
          Button
        </button>
      </div>
    </div>
    <div class="span-6">
      <pre class="brush: html" from="#btn1">
      </pre>
    </div>
  </div>
</div>

<br>

<h2>Button tags</h2>
<table class="table border-col">
  <thead>
  <tr>
    <th><code>&lt;a&gt;</code></th>
    <th><code>&lt;input&gt;</code></th>
    <th><code>&lt;span&gt;</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a class="btn" href="#">Button</a></td>
    <td><input class="btn" type="button" value="Button"></td>
    <td><span class="btn">Button</span></td>
  </tr>
  </tbody>
</table>

<br>
<br>

<div class="grid">
  <div class="row">
    <div class="span-3">
      <h3>Button color</h3>
      <table class="table border-col border-header-row">
        <thead>
        <tr>
          <th>Button</th>
          <th><code>class="btn *"</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn blue">Blue</button>
          </td>
          <td><code>blue</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn green">Green</button>
          </td>
          <td><code>green</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn orange">Orange</button>
          </td>
          <td><code>orange</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn red">Red</button>
          </td>
          <td><code>red</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn grey">Grey</button>
          </td>
          <td><code>grey</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn black">Black</button>
          </td>
          <td><code>black</code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="span-4">
      <h3>Button size</h3>
      <table class="table border-col border-header-row" >
        <thead>
        <tr>
          <th>Button</th>
          <th><code>class="btn *"</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn mini">Mini</button>
          </td>
          <td><code>mini</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn small">Small</button>
          </td>
          <td><code>small</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn medium">Medium</button>
          </td>
          <td><code>medium</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn large">Large</button>
          </td>
          <td><code>large</code></td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="span-5">
      <h3>Button status</h3>
      <table class="table border-col border-header-row" >
        <thead>
        <tr>
          <th>Button</th>
          <th><code>disabled="true"</code></th>
          <th><code>class="btn pressed"</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td>
            <button class="btn" disabled="disabled">Default</button>
          </td>
          <td>
            <button class="btn pressed">Default</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn blue">Blue</button>
          </td>
          <td>
            <button class="btn blue" disabled="disabled">Blue</button>
          </td>
          <td>
            <button class="btn blue pressed">Blue</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn green">Green</button>
          </td>
          <td>
            <button class="btn green" disabled="disabled">Green</button>
          </td>
          <td>
            <button class="btn green pressed">Green</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn orange">Orange</button>
          </td>
          <td>
            <button class="btn orange" disabled="disabled">Orange</button>
          </td>
          <td>
            <button class="btn orange pressed">Orange</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn red">Red</button>
          </td>
          <td>
            <button class="btn red" disabled="disabled">Red</button>
          </td>
          <td>
            <button class="btn red pressed">Red</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn grey">Grey</button>
          </td>
          <td>
            <button class="btn grey" disabled="disabled">Grey</button>
          </td>
          <td>
            <button class="btn grey pressed">Grey</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn black">Black</button>
          </td>
          <td>
            <button class="btn black" disabled="disabled">Black</button>
          </td>
          <td>
            <button class="btn black pressed">Black</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>

<h2>Button Groups</h2>
<div class="grid">
  <div class="row">
    <div class="span-4">
      <div id="btngroup1">
        <div class="btn-group medium blue">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </div>
    </div>
    <div class="span-6">
      <pre class="brush: html" from="#btngroup1"></pre>
    </div>
  </div>
</div>

  <h3>Button Group Sizes</h3>
  <table class="table border-col border-header-row" >
    <thead>
      <tr>
        <th>Button Groups</th>
        <th><code>class="btn-group *"</code></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="btn-group">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group mini">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td><code>mini</code></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group small">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td><code>small</code></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group medium">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td><code>medium</code></td>
    </tr>
    <tr>
      <td>
        <div class="btn-group large">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td><code>large</code></td>
    </tr>
    </tbody>
  </table>
  <h3>Button groups status</h3>
  <table class="table border-col border-header-row" >
    <thead>
    <tr>
      <th>Button Groups</th>
      <th><code>disabled="true"</code></th>
      <th><code>class="btn pressed"</code></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div class="btn-group">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group blue">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group blue" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group blue pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group green">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group green" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group green pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group orange">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group orange" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group orange pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group red">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group red" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group red pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group grey">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group grey" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group grey pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="btn-group black">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group black" disabled="disabled">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
      <td>
        <div class="btn-group black pressed">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>