<% content_for :head do %>
<title>UI5- buttons</title>
<% end %>

<h1>Buttons</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div span=3>
      <div id="btn1">
        <button class="btn" color="blue" size="medium">
          Button
        </button>
      </div>
    </div>
    <div span="6">
      <pre class="brush: html" from="#btn1">
      </pre>
    </div>
  </div>
</div>

<br>

<h2>Button tags</h2>
<table class="table" bordered="col" width="300">
  <thead>
  <tr>
    <th><code>&lt;a&gt;</code></th>
    <th><code>&lt;input&gt;</code></th>
    <th><code>&lt;span&gt;</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><a class="btn" href="#">Button</a></td>
    <td><input class="btn" type="button" value="Button"></td>
    <td><span class="btn">Button</span></td>
  </tr>
  </tbody>
</table>

<br>
<br>

<div class="grid">
  <div class="row">
    <div span=3>
      <h3>Button color</h3>
      <table class="table" bordered="col header-row" width="100%">
        <thead>
        <tr>
          <th>Button</th>
          <th><code>color=""</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="blue">Blue</button>
          </td>
          <td><code>blue</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="green">Green</button>
          </td>
          <td><code>green</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="orange">Orange</button>
          </td>
          <td><code>orange</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="red">Red</button>
          </td>
          <td><code>red</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="grey">Grey</button>
          </td>
          <td><code>grey</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="black">Black</button>
          </td>
          <td><code>black</code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div span=3>
      <h3>Button size</h3>
      <table class="table" bordered="col header-row" width="100%">
        <thead>
        <tr>
          <th>Button</th>
          <th><code>size=""</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <button class="btn" size="mini">Mini</button>
          </td>
          <td><code>mini</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" size="small">Small</button>
          </td>
          <td><code>small</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" size="medium">Medium</button>
          </td>
          <td><code>medium</code></td>
        </tr>
        <tr>
          <td>
            <button class="btn" size="large">Large</button>
          </td>
          <td><code>large</code></td>
        </tr>
        </tbody>
      </table>

    </div>
    <div span=6>
      <h3>Button status</h3>
      <table class="table" bordered="col header-row" width="100%">
        <thead>
        <tr>
          <th>Button</th>
          <th><code>disabled="disabled"</code></th>
          <th><code>pressed="pressed"</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <button class="btn">Default</button>
          </td>
          <td>
            <button class="btn" disabled="disabled">Default</button>
          </td>
          <td>
            <button class="btn" pressed="pressed">Default</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="blue">Blue</button>
          </td>
          <td>
            <button class="btn" color="blue" disabled="disabled">Blue</button>
          </td>
          <td>
            <button class="btn" color="blue" pressed="pressed">Blue</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="green">Green</button>
          </td>
          <td>
            <button class="btn" color="green" disabled="disabled">Green</button>
          </td>
          <td>
            <button class="btn" color="green" pressed="pressed">Green</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="orange">Orange</button>
          </td>
          <td>
            <button class="btn" color="orange" disabled="disabled">Orange</button>
          </td>
          <td>
            <button class="btn" color="orange" pressed="pressed">Orange</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="red">Red</button>
          </td>
          <td>
            <button class="btn" color="red" disabled="disabled">Red</button>
          </td>
          <td>
            <button class="btn" color="red" pressed="pressed">Red</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="grey">Grey</button>
          </td>
          <td>
            <button class="btn" color="grey" disabled="disabled">Grey</button>
          </td>
          <td>
            <button class="btn" color="grey" pressed="pressed">Grey</button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="btn" color="black">Black</button>
          </td>
          <td>
            <button class="btn" color="black" disabled="disabled">Black</button>
          </td>
          <td>
            <button class="btn" color="black" pressed="pressed">Black</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br>
<br>

<h2>Button Groups</h2>
<div class="grid">
  <div class="row">
    <div span="4">
      <div id="btngroup1">
        <div class="btn-group" color="blue" size="medium">
          <button class="btn">Left</button>
          <button class="btn">Middle</button>
          <button class="btn">Right</button>
        </div>
      </div>
    </div>
    <div span="6">
      <pre class="brush: html" from="#btngroup1"></pre>
    </div>
  </div>
</div>

<div class="grid">
  <div class="row">
    <div span=5>
      <h3>Button Group Sizes</h3>
      <table class="table" bordered="col header-row" width="100%">
        <thead>
        <th>Button Groups</th>
        <th><code>size=""</code></th>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="btn-group">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" size="mini">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td><code>mini</code></td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" size="small">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td><code>small</code></td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" size="medium">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td><code>medium</code></td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" size="large">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td><code>large</code></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div span=7>
      <h3>Button groups status</h3>
      <table class="table" bordered="col header-row" width="100%">
        <thead>
        <tr>
          <th>Button Groups</th>
          <th><code>disabled="disabled"</code></th>
          <th><code>pressed="pressed"</code></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="btn-group">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="blue">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="blue" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="blue" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="green">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="green" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="green" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="orange">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="orange" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="orange" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="red">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="red" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="red" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="grey">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="grey" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="grey" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group" color="black">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="black" disabled="disabled">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
          <td>
            <div class="btn-group" color="black" pressed="pressed">
              <button class="btn">Left</button>
              <button class="btn">Middle</button>
              <button class="btn">Right</button>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>