<% content_for :head do %>
<title>Quark- forms</title>
<% end %>

<h1>Forms</h1>
<hr class="separator">

<div class="row">
    <div class="span-6">
      <div id="form1">
        <form class="form">
          <div class="field">
            <label>Field label</label>
            <input type="text">
          </div>
          <div class="buttons">
            <input type="submit" class="btn blue" value="Save">
            <input type="button" class="btn" value="Cancel">
          </div>
        </form>
      </div>
    </div>
    <div class="span-6">
      <pre class="brush: html; gutter: false;" data-from="#form1">
      </pre>
    </div>
</div>

<hr class="separator">

<div class="row">
  <div class="span-6">
    <h2>Basic Form</h2>
    <p>For styled form, add class <code>form</code> to the form tags. Wrap for each control inside the form by a
        <code>div</code> tag with class <code>field</code>.
    </p>
    <form class="form">
      <div class="field">
        <label>Field label</label>
        <input type="text">
      </div>
      <div class="field">
        <label>Field label</label>
        <input type="file">
      </div>
      <div class="field">
        <label>Label</label>
        <input type="checkbox"> <label class="box-label">Box label</label>
      </div>
      <div class="field">
        <label>Field label</label>
        <input type="radio"> <label class="box-label">Box label</label>
      </div>
      <div class="field">
        <label>Field label</label>
        <select>
          <option>item</option>
          <option>item</option>
          <option>item</option>
          <option>item</option>
        </select>
      </div>
      <div class="field">
        <label>Field label</label>
        <select>
          <optgroup label="Optgroup">
            <option>item</option>
            <option>item</option>
            <option>item</option>
            <option>item</option>
          </optgroup>
          <optgroup label="Optgroup">
            <option>item</option>
            <option>item</option>
            <option>item</option>
            <option>item</option>
          </optgroup>
        </select>
      </div>
      <div class="field">
        <label>Field label</label>
        <textarea></textarea>
      </div>
      <div class="buttons">
        <input type="submit" class="btn" color="blue" value="Submit">
        <input type="reset" class="btn" value="Reset">
        <input type="button" class="btn" value="Cancel">
      </div>
    </form>
  </div>
  <div class="span-6">
    <h2>From with custom label align</h2>
    <p>If you want to show the label on the top of the control, let add class <code>label-top</code>
        beside the class <code>form</code>.</p>
    <form class="form label-top">
      <div class="field">
        <label>Field label</label>
        <input type="text">
      </div>
      <div class="field">
        <input type="checkbox"> <label class="box-label">Box label</label>
      </div>
      <div class="field">
        <input type="radio"> <label class="box-label">Box label</label>
      </div>
      <div class="field">
        <label>Field label</label>
        <select>
          <option>item</option>
          <option>item</option>
          <option>item</option>
          <option>item</option>
        </select>
      </div>
      <div class="field">
        <label>Field label</label>
        <textarea></textarea>
      </div>
      <div class="buttons">
        <input type="submit" class="btn" color="blue" value="Submit">
        <input type="reset" class="btn" value="Reset">
        <input type="button" class="btn" value="Cancel">
      </div>
    </form>
  </div>
</div>

<hr class="separator">

<div class="row">
    <div class="span-6">
        <h2>Form with fieldset</h2>
        <form class="form">
            <fieldset>
                <legend>Login infomations</legend>
                <div class="field">
                    <label>Username</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password">
                </div>
            </fieldset>
            <fieldset>
                <legend>Personal infomations</legend>
                <div class="field">
                    <label>First Name</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label>Last Name</label>
                    <input type="text">
                </div>
                <div class="field">
                    <label>Phone</label>
                    <input type="text">
                </div>
            </fieldset>
            <div class="buttons">
                <input type="submit" class="btn" color="blue" value="Save">
                <input type="reset" class="btn" value="Reset">
                <input type="button" class="btn" value="Cancel">
            </div>
        </form>
    </div>
    <div class="span-6">
        <h2>Field with text info</h2>
        <form class="form">
            <div class="field">
                <label>Field Label</label>
                <input type="text">
                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis</div>
            </div>
            <div class="field">
                <label>Field Label</label>
                <select>
                    <option>item</option>
                    <option>item</option>
                </select>
                <div class="info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis</div>
            </div>
        </form>
        <h2>Field with grid sizes</h2>
        <p>For custom field sizes by grid system, add class <code>span-1</code> to <code>span-12</code> to the field
            or add class <code>field-span-1</code> to <code>field-span-12</code> to the form if you want to apply for the whole fields
            inside the form.</p>
        <form class="form">
            <div class="field">
                <label><code>class="span-1"</code></label>
                <input type="text" class="span-1">
            </div>
            <div class="field">
                <label><code>class="span-2"</code></label>
                <input type="text" class="span-2">
            </div>
            <div class="field">
                <label><code>class="span-3"</code></label>
                <input type="text" class="span-3">
            </div>
        </form>
    </div>
</div>