<% content_for :head do %>
<title>UI5- overview</title>
<% end %>

<h1>UI5</h1>
<hr class="rule">

<br>

<h2>User interface components build on HTML5 & CSS3</h2>

<br>
<br>

<div class="btn-group large">
  <a class="btn red" href="https://github.com/lytc/ui5/zipball/master">Download <strong>ZIP File</strong></a>
  <a class="btn orange" href="https://github.com/lytc/ui5/tarball/master">Download <strong>TAR Ball</strong></a>
  <a class="btn blue" href="https://github.com/lytc/ui5">View On <strong>GitHub</strong></a>
</div>