<% content_for :head do %>
<title>UI5- overview</title>
<% end %>

<div class="page-header">
  <h1>UI5</h1>
</div>

<h2>User interface components build on HTML5 & CSS3</h2>

<br>
<br>

<div class="btn-group" size="large">
  <a class="btn" color="red" href="https://github.com/lytc/ui5/zipball/master">Download <strong>ZIP File</strong></a>
  <a class="btn" color="orange" href="https://github.com/lytc/ui5/tarball/master">Download <strong>TAR Ball</strong></a>
  <a class="btn" color="blue" href="https://github.com/lytc/ui5">View On <strong>GitHub</strong></a>
</div>