<% content_for :head do %>
<title>Quark- overview</title>
<% end %>

<div class="text-center">
  <h1 class="medium">
    Simple user interface components build on
    <br>
    <span class="color-orange">HTML5</span>
    <span class="color-grey">&</span>
    <span class="color-blue">CSS3</span>
  </h1>

  <br>
  <br>
  <div class="btn-group large fluid">
    <a class="btn red" href="https://github.com/lytc/quark/zipball/master">Download <strong>ZIP File</strong></a>
    <a class="btn orange" href="https://github.com/lytc/quark/tarball/master">Download <strong>TAR Ball</strong></a>
    <a class="btn blue" href="https://github.com/lytc/quark">View On <strong>GitHub</strong></a>
  </div>
</div>
