<% content_for :head do %>
<title>Quark- labels & badges</title>
<% end %>

<h1>Labels & Badges</h1>
<hr class="separator">

<div class="row">
  <div class="span-6">
    <h2>Label colors</h2>
    <span class="label">Default</span>
    <span class="label blue">Blue</span>
    <span class="label green">Green</span>
    <span class="label orange">Orange</span>
    <span class="label red">Red</span>
    <span class="label grey">Grey</span>
    <span class="label black">Black</span>
    <p></p>
    <pre class="brush: html; gutter: false">
      &lt;span class="label blue">Blue&lt;/span>
    </pre>

    <h2>Label sizes</h2>
    <span class="label mini">Mini</span>
    <span class="label medium">Medium</span>
    <span class="label large">Large</span>
    <span class="label x-large">X-Large</span>
    <pre class="brush: html; gutter: false">
      <span class="label medium">Blue</span>
    </pre>
  </div>
  <div class="span-6">
    <h2>Badge colors</h2>
    <span class="badge">1</span>
    <span class="badge blue">2</span>
    <span class="badge green">3</span>
    <span class="badge orange">4</span>
    <span class="badge red">5</span>
    <span class="badge grey">6</span>
    <span class="badge black">10</span>
    <p></p>
    <pre class="brush: html; gutter: false">
      &lt;span class="badge blue">Blue&lt;/span>
    </pre>

    <h2>Badge sizes</h2>
    <span class="badge mini">Mini</span>
    <span class="badge medium">Medium</span>
    <span class="badge large">Large</span>
    <span class="badge x-large">X-Large</span>
    <pre class="brush: html; gutter: false">
      &lt;span class="badge medium">Blue&lt;/span>
    </pre>
  </div>
</div>

