<% content_for :head do %>
<title>Quark- buttons</title>
<% end %>

<h1>Loadings</h1>
<hr class="separator">

<div class="row">
  <div class="span-4">
    <p></p>
    <div id="loading1">
      <div class="loading blue">
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
      </div>
    </div>
    <pre class="brush: html" data-from="#loading1"></pre>
  </div>
  <div class="span-4">
    <h2>Loading colors</h2>
      <p>For customize colors, add class <code>blue</code>, <code>green</code>, <code>orange</code>,
          <code>grey</code> or <code>black</code> beside the <code>loading</code> class.</p>
      <div class="loading blue">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading green">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading orange">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading red">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading grey">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading black">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
  </div>
  <div class="span-4">
      <h2>Loading sizes</h2>
      <p>For customize sizes, add class <code>mini</code>, <code>medium</code>, <code>large</code> or <code>x-large</code>
          beside class <code>loading</code>.</p>
      <div class="loading mini">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading medium">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading large">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>
      <div class="loading x-large">
          <div></div><div></div><div></div><div></div><div></div><div></div>
          <div></div><div></div><div></div><div></div><div></div><div></div>
      </div>

  </div>
</div>