<% content_for :head do %>
<title>Quark- menus</title>
<% end %>

<h1>Menus</h1>

<hr class="separator">

<div class="row">
    <div class="span-4">
        <p></p>
        <div id="menu1">
            <ul class="menu">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li>
                            <hr class="rule">
                        </li>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                    </ul>
                    <a href="#">Lorem ipsum dolor</a>
                </li>
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li>
                    <hr class="rule">
                </li>
                <li><a href="#">Lorem ipsum dolor</a></li>
            </ul>
        </div>
    </div>
    <div class="span-8">
        <pre class="brush: html; gutter: false;" data-from="#menu1"></pre>
    </div>
</div>

<hr class="separator">

<p>For customize background colors when hover on the menu item, add class <code>blue</code>, <code>green</code>,
    <code>orange</code>, <code>red</code>, <code>grey</code> or <code>black</code> beside the <code>menu</code> class. <code>blue</code> is defaults.</p>

<ul class="menu green">
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
                <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum dolor</a>
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <hr class="rule">
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
</ul>

<ul class="menu orange">
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
                <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum dolor</a>
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <hr class="rule">
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
</ul>

<ul class="menu red">
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
                <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum dolor</a>
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <hr class="rule">
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
</ul>

<ul class="menu grey">
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
                <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum dolor</a>
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <hr class="rule">
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
</ul>

<ul class="menu black">
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
                <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum dolor</a>
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
    <li>
        <hr class="rule">
    </li>
    <li><a href="#">Lorem ipsum dolor</a></li>
</ul>