<% content_for :head do %>
  <title>UI5- mixed</title>
<% end %>

<div class="page-header">
  <h1>Mixed</h1>
</div>
<h2>Horizontal rules</h2>
<code>&lt;hr class="rule"&gt;</code>
<br>
<hr class="rule">

<h3>Rule colors</h3>
<table class="table" bordered="col">
  <thead>
    <tr>
      <th width="400">Rule</th>
      <th><code>color="*"</code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><hr class="rule" color="blue"></td>
      <td><code>blue</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="green"></td>
      <td><code>green</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="orange"></td>
      <td><code>orange</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="red"></td>
      <td><code>red</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="grey"></td>
      <td><code>grey</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="black"></td>
      <td><code>black</code></td>
    </tr>
  </tbody>
</table>

<h3>Rules with sizes</h3>
<hr class="rule">

<table class="table" bordered="col">
  <thead>
    <tr>
      <th width="400">Rule</th>
      <th><code>size="*"</code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><hr class="rule" color="blue" size="1"></td>
      <td><code>1</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="2"></td>
      <td><code>2</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="3"></td>
      <td><code>3</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="4"></td>
      <td><code>4</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="5"></td>
      <td><code>5</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="6"></td>
      <td><code>6</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="7"></td>
      <td><code>7</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="8"></td>
      <td><code>8</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="9"></td>
      <td><code>9</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="10"></td>
      <td><code>10</code></td>
    </tr>
  </tbody>
</table>

<h3>Rules border styles</h3>
<hr class="rule">

<table class="table" bordered="col">
  <thead>
    <tr>
      <th width="400">Rule</th>
      <th><code>border-style="*"</code></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><hr class="rule" color="blue" size="1"></td>
      <td><code>solid</code> default</td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="1" border-style="dotted"></td>
      <td><code>dotted</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="1" border-style="dashed"></td>
      <td><code>dashed</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="3" border-style="double"></td>
      <td><code>double</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="4" border-style="groove"></td>
      <td><code>groove</code></td>
    </tr>
    <tr>
      <td><hr class="rule" color="blue" size="4" border-style="ridge"></td>
      <td><code>ridge</code></td>
    </tr>
  </tbody>
</table>