<% content_for :head do %>
<title>UI5- navigations</title>
<% end %>

<h1>Navigations</h1>

<hr class="separator">

<div class="row">
<div class="span-5">
  <p></p>
  <div id="nav1">
    <ul class="nav">
      <li><a href="#">Lorem ipsum</a></li>
      <li>
        <ul>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
          <li><hr class="rule"></li>
          <li><a href="#">Lorem ipsum dolor</a></li>
        </ul>
        <a href="#">Lorem ipsum</a>
      </li>
      <li><a href="#">Lorem ipsum</a></li>
    </ul>
  </div>
</div>
<div class="span-7">
  <pre class="brush: html" data-from="#nav1"></pre>
</div>
</div>

<hr class="separator">

<p>Navigations bar is inheritance from menus bar. It meant you can set background colors when hover on navigation items simlar to menus bar.</p>
<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav green"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav green">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav orange"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav orange">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav red"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav red">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav grey"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav grey">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav black"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav black">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>

<hr class="separator">
<p>You can add <code>bg-*</code> class if you want to customize the background of navigation bar as well.</p>

<div class="row">
    <div class="span-4">
        <pre class="brush: html; gutter: false;">
            &lt;ul class="nav orange bg-blue"&gt;
              ...
            &lt;/ul&gt;
        </pre>
    </div>
    <div class="span-8">
        <p></p>
        <ul class="nav orange bg-blue">
            <li><a href="#">Lorem ipsum</a></li>
            <li>
                <ul>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li>
                        <hr class="rule">
                    </li>
                    <li><a href="#">Lorem ipsum dolor</a></li>
                </ul>
                <a href="#">Lorem ipsum</a>
            </li>
            <li><a href="#">Lorem ipsum</a></li>
        </ul>
    </div>
</div>
