<% content_for :head do %>
<title>UI5- navigations</title>
<% end %>

<h1>Navigations</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div span="6">
      <div id="nav1">
        <ul class="nav item-bg-orange" bg="blue">
          <li><a href="#">Lorem ipsum</a></li>
          <li>
            <ul>
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li><a href="#">Lorem ipsum dolor</a></li>
              <li>
                <hr class="rule">
              </li>
              <li><a href="#">Lorem ipsum dolor</a></li>
            </ul>
            <a href="#">Lorem ipsum</a>
          </li>
          <li><a href="#">Lorem ipsum</a></li>
          <li>
            <hr class="rule">
          </li>
          <li><a href="#">Lorem ipsum</a></li>
        </ul>
      </div>
    </div>
    <div span="6">
      <pre class="brush: html" from="#nav1"></pre>
    </div>
  </div>
</div>

<br>

<h2>Item hover background colors</h2>
<table class="table">
  <thead>
  <tr>
    <th>Navigation</th>
    <th><code>item-bg="*"</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul class="nav item-bg-blue">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>blue</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav item-bg-green">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>green</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav item-bg-orange">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>orange</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav item-bg-red">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>red</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav item-bg-grey">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>grey</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav item-bg-black">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>black</code></td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h2>background colors</h2>
<table class="table">
  <thead>
  <tr>
    <th>Navigation</th>
    <th><code>bg="*"</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <ul class="nav blue">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>blue</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav green">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>green</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav orange">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>orange</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav red">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>red</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav grey">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>grey</code></td>
  </tr>
  <tr>
    <td>
      <ul class="nav black">
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <ul>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li><a href="#">Lorem ipsum dolor</a></li>
            <li>
              <hr class="rule">
            </li>
            <li><a href="#">Lorem ipsum dolor</a></li>
          </ul>
          <a href="#">Lorem ipsum</a>
        </li>
        <li><a href="#">Lorem ipsum</a></li>
        <li>
          <hr class="rule">
        </li>
        <li><a href="#">Lorem ipsum</a></li>
      </ul>
    </td>
    <td><code>black</code></td>
  </tr>
  </tbody>
</table>
