<% content_for :head do %>
<title>UI5- notifications</title>
<% end %>

<h1>Notifications</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div span="5">
      <div id="notify11">
        <div class="notify orange">
          <button class="close">&times;</button>
          <h4>Warning!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Ut mollis suscipit turpis, eget viverra tellus varius porta.
        </div>
      </div>
    </div>
    <div span="7">
      <pre class="brush: html" from="#notify11"></pre>
    </div>
  </div>
</div>

<br>
<br>

<table class="table border-col border-header-row" width="100%">
  <thead>
  <tr>
    <th>Notify</th>
    <th><code>class="notify *"</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div id="notify1">
        <div class="notify">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>

    </td>
  </tr>
  <tr>
    <td>
      <div id="notify2">
        <div class="notify blue">
          <h4>Infomations</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>blue</code>
    </td>
  </tr>
  <tr>
    <td>
      <div id="notify3">
        <div class="notify green">
          <h4>Success!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>green</code>
    </td>
  </tr>
  <tr>
    <td>
      <div id="notify4">
        <div class="notify orange">
          <h4>Warning!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>orange</code>
    </td>
  </tr>
  <tr>
    <td>
      <div id="notify5">
        <div class="notify red">
          <h4>Error!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>red</code>
    </td>
  </tr>
  <tr>
    <td>
      <div id="notify6">
        <div class="notify grey">
          <h4>Notice!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>grey</code>
    </td>
  </tr>
  <tr>
    <td>
      <div id="notify7">
        <div class="notify black">
          <h4>Err!</h4>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
          porta.
        </div>
      </div>
    </td>
    <td>
      <code>black</code>
    </td>
  </tr>
  </tbody>
</table>