<% content_for :head do %>
<title>UI5- notifications</title>
<% end %>

<h1>Notifications</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div class="span-4">
        <p></p>
        <div id="notify11">
            <div class="notify orange">
                <button class="close">&times;</button>
                <h4>Warning!</h4>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Ut mollis suscipit turpis, eget viverra tellus varius porta.
            </div>
        </div>
    </div>
    <div class="span-8">
      <pre class="brush: html;" data-from="#notify11"></pre>
    </div>
  </div>
</div>

<hr class="separator">
<p>For customize color & background, add class <code>blue</code>, <code>blue</code>, <code>green</code>,
    <code>orange</code>, <code>grey</code> or <code>black</code> beside the <code>notify</code> class.</p>

<div class="row">
    <div class="span-4">
        <div class="notify blue">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
        <div class="notify green">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
    </div>
    <div class="span-4">
        <div class="notify orange">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
        <div class="notify red">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
    </div>
    <div class="span-4">
        <div class="notify grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
        <div class="notify black">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mollis suscipit turpis, eget viverra tellus varius
            porta.
        </div>
        <br>
    </div>
</div>