<% content_for :head do %>
<title>UI5- sliders</title>
<% end %>

<h1>Sliders</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div span=4>
      <div id="slider1">
        <div class="slider blue striped">
          <div class="bar" style="width: 110px">
            <div class="thumb"></div>
          </div>
        </div>
      </div>
    </div>
    <div span=8>
      <pre class="brush: html" from="#slider1"></pre>
    </div>
  </div>
</div>

<h2>Slide colors</h2>
<table class="table border-col border-header-row">
  <thead>
  <tr>
    <th>Slider</th>
    <th><code>class="slider *"</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="slider blue">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>blue</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider green">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>green</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider orange">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>orange</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider red">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>red</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider grey">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>grey</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider black">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>black</code>
    </td>
  </tr>
  </tbody>
</table>

<h2>Slide striped</h2>
<div class="grid">
  <div class="row">
    <div span=6>
      <code>&lt;div class="slider striped"&gt;</code>
      <br>
      <br>

      <div class="slider blue striped">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </div>
    <div span=6>
      <code>&lt;div class="slider striped-animate"&gt;</code>
      <br>
      <br>

      <div class="slider blue striped-animate">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Slide size</h2>
<table class="table border-col border-header-row">
  <thead>
  <tr>
    <th>Slider</th>
    <th><code>class="slider *"</code></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <div class="slider blue mini">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>mini</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider blue small">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>small</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider blue medium">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>medium</code>
    </td>
  </tr>
  <tr>
    <td>
      <div class="slider blue large">
        <div class="bar" style="width: 110px">
          <div class="thumb"></div>
        </div>
      </div>
    </td>
    <td>
      <code>large</code>
    </td>
  </tr>
  </tbody>
</table>