<% content_for :head do %>
  <title>UI5- tables</title>
<% end %>

<div class="page-header">
  <h1>Tables</h1>
</div>

<div class="grid">
  <div class="row">
    <div span="5">
      <h3>Table</h3>
      <div id="table1">
        <table class="table" width="100%">
          <thead>
            <th>Head</th>
            <th>Head</th>
            <th>Head</th>
          </thead>
          <tbody>
            <tr>
              <td>td</td>
              <td>td</td>
              <td>td</td>
            </tr>
            <tr>
              <td>td</td>
              <td>td</td>
              <td>td</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div span="7">
      <h3>Markup</h3>
      <pre class="prettyprint linenums lang-html" from="#table1"></pre>
    </div>
  </div>
</div>

<br>
<br>

<h3>Table bordered</h3>
<code>bordered="table"</code>
<br>
<br>

<table class="table" bordered="table" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>


<br>
<br>

<h3>Table column bordered</h3>
<code>bordered="col"</code>

<br>
<br>

<table class="table" bordered="col" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table row bordered</h3>
<code>bordered="row"</code>

<br>
<br>

<table class="table" bordered="row" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header row bordered</h3>
<code>bordered="header-row"</code>

<br>
<br>

<table class="table" bordered="header-row" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header col bordered</h3>
<code>bordered="header-col"</code>

<br>
<br>

<table class="table" bordered="header-col" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header bordered</h3>
<code>bordered="header"</code>

<br>
<br>

<table class="table" bordered="header" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table striped rows</h3>
<code>striped="striped"</code>

<br>
<br>

<table class="table" striped="striped" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>

<br>
<br>

<h3>Combine them all</h3>
<code>bordered="all" striped="striped"</code>

<br>
<br>

<table class="table" 
  bordered="all" striped="striped" width="100%">
  <thead>
    <th>Head</th>
    <th>Head</th>
    <th>Head</th>
  </thead>
  <tbody>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
    <tr>
      <td>td</td>
      <td>td</td>
      <td>td</td>
    </tr>
  </tbody>
</table>