<% content_for :head do %>
<title>UI5- tables</title>
<% end %>

<h1>Tables</h1>
<hr class="rule">

<br>

<div class="grid">
  <div class="row">
    <div class="span-5">
      <h3>Table</h3>

      <div id="table1">
        <table class="table" >
          <thead>
          <th>Head</th>
          <th>Head</th>
          <th>Head</th>
          </thead>
          <tbody>
          <tr>
            <td>td</td>
            <td>td</td>
            <td>td</td>
          </tr>
          <tr>
            <td>td</td>
            <td>td</td>
            <td>td</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="span-7">
      <h3>Markup</h3>
      <pre class="brush: html" data-from="#table1"></pre>
    </div>
  </div>
</div>

<br>
<br>

<h3>Table bordered</h3>
<code>class="table border"</code>
<br>
<br>

<table class="table border" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>


<br>
<br>

<h3>Table column bordered</h3>
<code>class="table border-col"</code>

<br>
<br>

<table class="table border-col" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table row bordered</h3>
<code>class="table border-row"</code>

<br>
<br>

<table class="table border-row" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header row bordered</h3>
<code>class="table border-header-row"</code>

<br>
<br>

<table class="table border-header-row" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header col bordered</h3>
<code>class="table border-header-col"</code>

<br>
<br>

<table class="table border-header-col" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table header bordered</h3>
<code>class="table border-header"</code>

<br>
<br>

<table class="table border-header" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Table striped rows</h3>
<code>class="table striped"</code>

<br>
<br>

<table class="table striped" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>

<br>
<br>

<h3>Combine them all</h3>
<code>class="table border-all striped"</code>

<br>
<br>

<table class="table border-all striped" >
  <thead>
  <th>Head</th>
  <th>Head</th>
  <th>Head</th>
  </thead>
  <tbody>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  <tr>
    <td>td</td>
    <td>td</td>
    <td>td</td>
  </tr>
  </tbody>
</table>