<% content_for :head do %>
<title>UI5- tables</title>
<% end %>

<h1>Tables</h1>
<hr class="rule">

<h2>Table markup</h2>
<div class="row">
    <div class="span-5">
        <pre class="brush: html; gutter: false;">
            <table class="table">
                <thead>
                <tr>
                    <th>...</th>
                    <th>...</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>...</td>
                    <td>...</td>
                </tr>
                </tbody>
            </table>
        </pre>
    </div>
    <div class="span-7">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Table bordered</h2>
<div class="row">
    <div class="span-5">
        <p>For showing borders around the entire table, add <code>border</code> class beside the <code>table</code> class.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table border"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table border">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Row bordered</h2>
<div class="row">
    <div class="span-5">
        <p>For showing row borders, add <code>border-row</code> class beside the <code>table</code> class.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table border-row"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table border-rows">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Column bordered</h2>
<div class="row">
    <div class="span-5">
        <p>For showing column borders, add <code>border-col</code> class beside the <code>table</code> class.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table border-col"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table border-cols">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Header row bordered</h2>
<div class="row">
    <div class="span-5">
        <p>For just showing header row borders, add <code>border-header-row</code> class beside the <code>table</code> class.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table border-header-row"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table border-header-rows">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Striped rows</h2>
<div class="row">
    <div class="span-5">
        <p>Add class <code>stripe-rows</code> for striped affect to alternate rows of the table.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table stripe-rows"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table stripe-rows">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Striped columns</h2>
<div class="row">
    <div class="span-5">
        <p>Add class <code>stripe-cols</code> for striped affect to alternate columns of the table.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table stripe-cols"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table stripe-cols">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="separator">

<h2>Combine them all</h2>
<div class="row">
    <div class="span-5">
        <p>Add class <code>border-all</code> for showing border around the entire table, columns and rows of the table.</p>
        <p>Add class <code>striped</code> for showing striped affect to alternate columns and rows of the table.</p>
        <pre class="brush: html; gutter: false;">
            &lt;table class="table border-all striped"&gt;
                ...
            &lt;/table&gt;
        </pre>
    </div>
    <div class="span-7">
        <table class="table border-all striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Color</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Orange</td>
                <td>Orange</td>
                <td>2kg</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Apple</td>
                <td>Red</td>
                <td>3kg</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Grape</td>
                <td>urple</td>
                <td>4kg</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
