<% content_for :head do %>
<title>UI5- typography</title>
<% end %>

<h1>Typography</h1>
<hr class="separator">

<div class="row">
<div class="span-4">
    <h1>Heading &lt;h1&gt;</h1>
    <h2>Heading &lt;h2&gt;</h2>
    <h3>Heading &lt;h3&gt;</h3>
    <h4>Heading &lt;h4&gt;</h4>
    <h5>Heading &lt;h5&gt;</h5>
    <h6>Heading &lt;h6&gt;</h6>
</div>
<div class="span-4">
    <h2>List Circle Bullets</h2>
    <div id="list1">
        <ul class="circle">
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
            <li>Lorem ipsum</li>
        </ul>
    </div>
    <pre class="brush: html; gutter: false;" data-from="#list1"></pre>
</div>
<div class="span-4">
  <h2>List Square Bullets</h2>
  <div id="list2">
      <ul class="square">
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
          <li>Lorem ipsum</li>
      </ul>
  </div>
  <pre class="brush: html gutter: false;" data-from="#list2"></pre>
</div>
</div>

<hr class="separator">

<div class="row">
<div class="span-6">
  <table class="table">
    <thead>
        <tr>
            <th><h2>Text colors</h2></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <tr>
      <td><span class="color-blue">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="blue"</code></td>
    </tr>
    <tr>
      <td><span class="color-green">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="green"</code></td>
    </tr>
    <tr>
      <td><span class="color-orange">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="orange"</code></td>
    </tr>
    <tr>
      <td><span class="color-red">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="red"</code></td>
    </tr>
    <tr>
      <td><span class="color-grey">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="grey"</code></td>
    </tr>
    <tr>
      <td><span class="color-black">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="black"</code></td>
    </tr>
    </tbody>
  </table>
</div>
<div class="span-6">
  <table class="table">
    <thead>
      <tr>
        <th><h2>Backgrounds</h2></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td><span class="bg-blue">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="blue"</code></td>
    </tr>
    <tr>
      <td><span class="bg-green">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="bg-blue"</code></td>
    </tr>
    <tr>
      <td><span class="bg-orange">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="bg-blue"</code></td>
    </tr>
    <tr>
      <td><span class="bg-red">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="bg-blue"</code></td>
    </tr>
    <tr>
      <td><span class="bg-grey">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="bg-blue"</code></td>
    </tr>
    <tr>
      <td><span class="bg-black">Lorem ipsum dolor sit amet</span></td>
      <td><code>class="bg-blue"</code></td>
    </tr>
    </tbody>
  </table>
</div>
</div>
