body {
  font-family: $base-font-family;
  font-size: $base-font-size;
}

label, input, button, select, textarea {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: normal;
}

* {
  @include box-sizing;
}

a {
  text-decoration: none;
  color: $base-color-blue;
  &:hover {
    text-decoration: underline;
    color: $base-color-orange;
  }
}

.clearfix {
  @include clearfix;
}

.border {
  border: $base-border;
}

.border-radius {
  border-radius: $base-border-radius;
}

.border-with-radius {
  @extend .border;
  @extend .border-radius;
}

.no-border {
  border: none;
}

.box-shadow {
  box-shadow: 0 .4rem .8rem rgba(black, 0.2);
}

ul.unstyled {
  padding-left: 0;
  list-style: none;
}

code,
pre {
  padding: 0 .3rem .2rem;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: $base-font-size;
  color: #333333;
  border-radius: $base-border-radius;
}

code {
  padding: .2rem .4rem;
  color: $base-color-red;
  background-color: #f7f7f9;
  @extend .border;
}

pre {
  display: block;
  padding: $base-padding;
  margin: 0 0 $base-margin;
  font-size: $base-font-size;
  line-height: $base-line-height;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  @extend .border;
  @extend .border-radius;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.container {
  margin: auto;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.expanded {
  left: 0;
  right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
