body {
	font-family: $base-font-family;
	font-size: $base-font-size;
}

label, input, button, select, textarea {
	font-family: $base-font-family;
	font-size: $base-font-size;
	font-weight: normal;
}

* {
	@include box-sizing();
}

.clearfix {
  @include clearfix();
}

.border {
	border: $base-border;
}

.border-radius {
	border-radius: $base-border-radius;
}

.border-with-radius {
	@extend .border;
	@extend .border-radius;
}

ul[x-unstyled] {
	padding-left: 0;
	list-style: none;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: $base-font-size;
  color: #333333;
	border-radius: $base-border-radius;
}

code {
  padding: 2px 4px;
  color: $base-color-red;
  background-color: #f7f7f9;
  @extend .border;
}

pre {
  display: block;
  padding: $base-padding;
  margin: 0 0 $base-margin;
  font-size: $base-font-size;
  line-height: $base-line-height;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
	@extend .border;
	@exten .border-radius;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.page-header {
	display: block;
	margin: 18px 0;
	border-bottom: 1px solid #eeeeee;
}

.container {
	@include clearfix();
}

.fixed-top {
	position: fixed;
	top: 0;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
}

.expanded {
	left: 0;
	right: 0;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.container-960 {
	width: 960px;
}