a {
  text-decoration: none;
  color: $base-color-blue;
  &:hover {
    text-decoration: underline;
    color: $base-color-orange;
  }
}

.clearfix {
  @include clearfix;
}

.border {
  border: $base-border;
}

.border-radius {
  border-radius: $base-border-radius;
}

.border-with-radius {
  @extend .border;
  @extend .border-radius;
}

.no-border {
  border: none;
}

.box-shadow {
  box-shadow: 0 .4rem .8rem rgba(black, 0.2);
}

.text-shadow {
  text-shadow: 0 .1rem .1rem rgba(white, 0.75);
}

code {
  @extend .border-with-radius;
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  padding: 0 .4rem;
  color: $base-color-red;
  background-color: #f7f7f9;
  white-space: nowrap;
}

.expanded {
  left: 0;
  right: 0;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}