.btn {
  @extend .border-with-radius;
  @extend .text-shadow;
  @extend .bg-silver;
  display: inline-block;
  color: $base-text-color;
  height: 2.8rem;
  line-height: 2.8rem;
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  cursor: pointer;
  overflow: hidden;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
    color: $base-text-color;
    @include linear-gradient("top, #E6E6E6, #{lighten(#e6e6e6, 20%)}");
    border-top-color: rgba(black, .2);
  }
  &:focus, &:active {
    box-shadow: 0 1px 1px rgba(#000, 0.075) inset, 0 0 8px rgba(#52A8EC, 0.6);
  }

  @each $btn-hash in $base-sizes-list {
    $name: nth($btn-hash, 1);
    $size: nth($btn-hash, 2);
    &.#{$name} {
      height: $size;
      line-height: $size;
      font-size: $base-font-size + ($size - 2) / 3 - .2;
      padding: 0 $size / 3;
    }
  }

  @each $color-hash in $base-colors-list {
    $name: nth($color-hash, 1);
    $color: nth($color-hash, 2);
    &.#{$name} {
      @extend .bg-#{$name};
      color: white;
      text-shadow: 0 -.1rem 0 rgba(black, 0.25);
      &:hover {
        color: white;
        @include linear-gradient("top, #{$color}, #{lighten($color, 20%)}");
      }
    }
  }

  &[disabled],
  &[disabled]:hover,
  &.disabled,
  &.disabled:hover{
    background-image: none;
    opacity: .5;
    cursor: default;
  }

  &:active,
  &.pressed,
  &.pressed:hover {
    box-shadow: 0 .2rem .4rem rgba(black, 0.3) inset, 0 .1rem .2rem rgba(black, 0.1);
    background-image: none;
    outline: 0;
  }
}