.btn {
  font-size: $base-font-size;
  color: $base-text-color;
  height: 2.8rem;
  line-height: 2.8rem;
  border: .1rem solid;
  border-color: rgba(black, 0.1) rgba(black, 0.1) rgba(black, 0.25);
  border-radius: $base-border-radius;
  cursor: pointer;
  text-shadow: 0 .1rem .1rem rgba(white, 0.75);
  box-shadow: 0 .1rem 0 rgba(white, 0.2) inset, 0 .1rem .2rem rgba(black, 0.05);
  @include base-bg-gradient(#e6e6e6);
  background-repeat: repeat-x;
  display: inline-block;
  overflow: hidden;
  padding: 0 1rem;
  text-align: center;
  vertical-align: middle;
  &:hover, &:active, &[disabled] {}
  &:hover {
    @include linear-gradient("top, #E6E6E6, #{lighten(#e6e6e6, 20%)}");
  }
}

a.btn {
  text-decoration: none;
}

$-btn-mini-hash: mini, 2rem;

// $-btn-small-hash: small, 28rem; is default
$-btn-medium-hash: medium, 4rem;
$-btn-large-hash: large, 5.2rem;
$-btn-sizes-list: $-btn-mini-hash, $-btn-medium-hash, $-btn-large-hash;

@each $btn-hash in $base-sizes-list {
  $name: nth($btn-hash, 1);
  $size: nth($btn-hash, 2);
  .btn-group.#{$name} > .btn,
  .btn.#{$name} {
    height: $size;
    line-height: $size;
    font-size: $base-font-size + ($size - 2) / 3 - .2;
    padding: 0 ceil($size / 3);
  }
}

@each $color-hash in $base-colors-list {
  $name: nth($color-hash, 1);
  $color: nth($color-hash, 2);
  .btn-group.#{$name} > .btn, .btn.#{$name} {
  	color: white;
  	text-shadow: 0 -.1rem 0 rgba(black, 0.25);
    @include base-bg-gradient($color);
    &:hover {
      @include linear-gradient("top, #{$color}, #{lighten($color, 20%)}");
    }
  }
}

.btn-group.disabled > .btn,
.btn-group.disabled > .btn:hover,
button.btn[disabled],
button.btn[disabled]:hover,
.btn.disabled,
.btn.disabled:hover{
  background-image: none;
  opacity: .5;
  cursor: default;
}

.btn-group.pressed > .btn,
.btn-group.pressed > .btn:hover,
.btn:active,
.btn.pressed,
.btn.pressed:hover {
  box-shadow: 0 .2rem .4rem rgba(black, 0.3) inset, 0 .1rem .2rem rgba(black, 0.1);
  background-image: none;
  outline: 0;
}

.btn-group.pressed > .btn {
  border-color: rgba(black, 0.2) rgba(black, 0.2) rgba(black, 0.2);
}

.btn-group {
  @extend .clearfix;
  display: inline-block;

  > .btn {
    border-left-width: 0;
    border-radius: 0;
    float: left;
  }
  > .btn:first-child {
    border-left-width: .1rem;
    border-radius: $base-border-radius 0 0 $base-border-radius;
  }
  > .btn:last-child {
    border-radius: 0 $base-border-radius $base-border-radius 0;
  }
}