@each $color-hash in $base-colors-list{
	$name: nth($color-hash, 1);
	$color: nth($color-hash, 2);
	
	.color-#{$name}, [x-color=#{$name}] {
		color: $color;
	}
	
	.bg-#{$name}, [x-bg=#{$name}] {
		background-color: $color;
	}
	
	.border-color-#{$name}, [x-border-color=#{$name}] {
		border-color: $color;
	}
}