.nav {
  @extend .menu;
  margin: 0;
  box-shadow: none;
  display: block;
  > li {
    display: inline-block;
    > a {
      padding: .7rem 1rem;
    }
    > ul {
      top: 100%;
      right: auto;
      &:before {
        top: -.6rem;
        left: 1.2rem;
        @include transform(rotate(45deg));
      }
      + a {
        padding-right: 2rem;
        &:after {
          @extend .caret;
          @extend .caret.down;
          @include calc(top, "50% + .2rem");
        }
        &:hover:after {
          border-top-color: white;
        }
      }
    }

    &:hover  > ul+a:after {
      display: block;
    }
  }
}
