.progress {
  height: 2.8rem;
  line-height: 2.8rem;
  background-color: #f7f7f7;
  //@include linear-gradient("top, #f5f5f5, #f9f9f9");
  box-shadow: inset 0 0 .2rem rgba(black, 0.2);
  border-radius: $base-border-radius;
  font-size: $base-font-size;
  position: relative;
  > .text {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
  }
  > .bar {
    @extend .border-radius;
    height: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
    > .text {
      color: white;
      text-align: center;
      display: inline-block;
    }
  }
  &.striped, &.striped-animate {
    > .bar {
      background-color: #E6E6E6;
      @include linear-gradient("-45deg, #{rgba(white, 0.15)} 25%, transparent 25%, transparent 50%, #{rgba(white, 0.15)} 50%, #{rgba(white, 0.15)} 75%, transparent 75%, transparent");
      background-size: 6rem 6rem;
    }
  }
  &.striped-animate > .bar {
    @include animation(progress-bar-striped-animate 2s linear infinite);
  }
  @each $color-hash in $base-colors-list {
    $name: nth($color-hash, 1);
    $color: nth($color-hash, 2);
    &.#{$name}, &.striped.#{$name}, &.striped-animate.#{$name} {
      > .bar {
        @extend .bg-#{$name};
      }
    }
  }
  @each $size-hash in $base-sizes-list {
    $name: nth($size-hash, 1);
    $size: nth($size-hash, 2);
    &.#{$name} {
      @extend .btn.#{$name};
    }
  }
}

@include keyframes(progress-bar-striped-animate) {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 6rem 0;
  }
}
