.rule {
  border: 0;
  border-top: .1rem solid #eeeeee;
  border-radius: 0;
  background: none;
  @each $style in dotted, dashed, double, groove, ridge {
    &.#{$style} {
      border-style: $style;
    }
  }
  @each $color-hash in $base-colors-list {
    $name: nth($color-hash, 1);
    $color: nth($color-hash, 2);
    &.#{$name} {
      @extend .border-color-#{$name};
    }
  }
  @for $i from 1 through 10 {
    &.size-#{$i} {
      border-top-width: #{$i / 10}rem;
    }
  }
}

.separator {
  @extend .rule;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
