.slider {
  @extend .progress;
  width: 22rem;
  margin: .7rem 1rem;
  height: 1.4rem;
  > .bar {
    overflow: visible;
    > .thumb {
      position: absolute;
      width: 2.8rem;
      height: 2.8rem;
      top: -.5rem;
      right: -1.4rem;
      cursor: move;
      border: .1rem solid #ccc;
      border-radius: 10rem;
      background-color: #f5f5f5;
      @include linear-gradient("top, #fff, #e6e6e6");
    }
  }

  @each $size-hash in $base-sizes-list {
    $name: nth($size-hash, 1);
    $size: nth($size-hash, 2);
    $half: $size/ 2;
    &.#{$name} {
      height: $size - $half;
      margin: ($size - $half)/2 1rem;
      > .bar {
        > .thumb {
          top: -($size - $half)/2;
          right: -$half;
          width: $size;
          height: $size;
        }
      }
    }
  }
}