.table {
  width: 100%;

  > thead > tr > th, > tbody > tr > td {
    padding: $base-padding;
    line-height: $base-line-height;
    text-align: left;
    border-style: $base-border-style;
    border-color: $base-border-color;
    border-width: 0;
  }
  > tbody > tr:last-child > td {
    border-bottom: 0;
  }
  &.border, &.border-all {
    border-collapse: separate;
    @extend .border-with-radius;
  }
  &.border-cols, &.border-all {
    > thead > tr > th, tbody > tr > td {
      border-right-width: $base-border-width;
      &:last-child {
        border-right: 0;
      }
    }
  }
  &.border-rows, &.border-all {
    > thead > tr > th, tbody > tr > td {
      border-bottom-width: .1rem;
    }
  }
  &.border-header-rows {
    > thead > tr > th {
      border-bottom-width: .1rem;
    }
  }

  &.stripe-rows, &.striped {
    > tbody > tr:nth-child(2n-1) {
      background-color: rgba(#cccccc, 0.2);
    }
  }

  &.stripe-cols, &.striped {
    > thead > tr > th:nth-child(2n),
    > tbody > tr > td:nth-child(2n) {
      background-color: rgba(#cccccc, 0.2);
    }
  }
}
