$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 1.3rem;

// text
$base-text-color: #222222;
$base-line-height: 1.8rem;

// border
$base-border-width: .1rem;
$base-border-style: solid;
$base-border-color: #cccccc;
$base-border: $base-border-width $base-border-style $base-border-color;
$base-border-radius: .4rem;

// padding
$base-padding: .8rem;

// margin
$base-margin: 1rem;

// color
$base-color-silver: #f2f2f2;
$base-color-blue: #149bdf;
$base-color-green: #51a351;
$base-color-orange: #f89406;
$base-color-red: #bd362f;
$base-color-grey: gray;
$base-color-black: #333333;

$-color-silver-hash: silver, $base-color-silver;
$-color-blue-hash: blue, $base-color-blue;
$-color-green-hash: green, $base-color-green;
$-color-orange-hash: orange, $base-color-orange;
$-color-red-hash: red, $base-color-red;
$-color-grey-hash: grey, $base-color-grey;
$-color-black-hash: black, $base-color-black;

$base-colors-list: $-color-silver-hash, $-color-blue-hash, $-color-green-hash, $-color-orange-hash, $-color-red-hash, $-color-grey-hash, $-color-black-hash;

// size
$base-size-mini: 2rem;
$base-size-small: 3rem;
$base-size-medium: 4rem;
$base-size-large: 5rem;
$base-size-x-large: 6rem;

$-size-mini-hash: mini, $base-size-mini;
$-size-small-hash: small, $base-size-small;
$-size-medium-hash: medium, $base-size-medium;
$-size-large-hash: large, $base-size-large;
$-size-x-large-hash: x-large, $base-size-x-large;

$base-sizes-list: $-size-mini-hash, $-size-small-hash, $-size-medium-hash, $-size-large-hash, $-size-x-large-hash;
