// font
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size: 13px;

// text
$base-text-color: #222222;
$base-line-height: 18px;

// border
$base-border-width: 1px;
$base-border-style: solid;
$base-border-color: #cccccc;
$base-border: $base-border-width $base-border-style $base-border-color;
$base-border-radius: 4px;

// padding
$base-padding: 8px;

// margin
$base-margin: 10px;

// color
$base-color-blue: #149BDF;
$base-color-green: #51A351;
$base-color-orange: #F89406;
$base-color-red: #BD362F;
$base-color-grey: #808080;
$base-color-black: #333333;

$-color-blue-hash: blue, $base-color-blue;
$-color-green-hash: green, $base-color-green;
$-color-orange-hash: orange, $base-color-orange;
$-color-red-hash: red, $base-color-red;
$-color-grey-hash: grey, $base-color-grey;
$-color-black-hash: black, $base-color-black;

$base-colors-list: $-color-blue-hash, $-color-green-hash, $-color-orange-hash, $-color-red-hash, $-color-grey-hash, $-color-black-hash;

// size
$base-size-mini: 20px;
$base-size-small: 28px;
$base-size-medium: 40px;
$base-size-large: 52px;

$-size-mini-hash: mini, $base-size-mini;
$-size-small-hash: small, $base-size-small;
$-size-medium-hash: medium, $base-size-medium;
$-size-large-hash: large, $base-size-large;

$base-sizes-list: $-size-mini-hash, $-size-small-hash, $-size-medium-hash, $-size-large-hash;

